a:link {
	font-family:"Consolas";
    color: #1cc4a2;
    font-size:12px;
    text-decoration: none;
}
a:hover {
    color: #1cc4a2;
    text-decoration: underline;    
}
a:visited {
    color: #1cc4a2;
}
a:active {
    color: #1cc4a2;
}

.myDiv {
	background-color:#E8D5B7;
	padding: 5px;
	border: solid 3px #F5B349;
}

